body {
    background-color: rgb(230, 210, 236);
}
h1 {
    color: rgb(219, 183, 234);
    margin-left: 30px;
}
ul{  
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: darkmagenta;
}
ul li {
    float: left;
}

ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
ul li a:hover {
    background-color: darkmagenta(188, 70, 248);
}
li {
    width: 100px;
}