body { 
    background-color: rgb(230, 210, 236);
} /* achtergrondkleur op mijn site */
h1 {
    color: rgb(219, 183, 234); /* Kleru van de tussenkopjes*/
    margin-left: 30px; /* Afstand van de tussenkopjes tot de rand*/
}
ul{   /*kleur van het menu, plaats van tekst en grootte van het menu.*/
    list-style-type: none; 
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: darkmagenta;
}
ul li { /* staat de tekst van het menu aan de linker- of rechterkant*/
    float: left;
}

ul li a {  /* kleur van de tekst in mijn menu */
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}
ul li a:hover { /*kleur van de blokjes als je muis eroverheen gaat*/
    background-color: rgb(155, 7, 155);
}
li { /*Grootte van de blokje in mijn menu*/
    width: 200px;
}